/* =Buttons
----------------------------------------------- */
.btn {
    > a {
        white-space: nowrap;

        @include respond(all-phones) {

        }
    }

    @include respond(all-phones) {
        width: 100%;
    }
}

.no-touch .btn {
    transition: $base-transition;

    > a {
        transition: $base-transition;
    }
}

// just an example for reference
.btn.primary {
    background: #3085D6;
    padding: 5px;
    border: 1px solid $black;
    border-radius: $button-radius;
    color: $black;
}

.btn.primary:hover,
.btn.primary:active {
    background: #379AF6;

    > a {
        color: $white;
    }
}

.header-flags {
    margin-top: 12px;
}
