/* =Navigation
----------------------------------------------- */
.navbar {
	background: #fff;
	max-width: 1120px;
}

.site-header {
	background: #449D44;
	color: $white;
	height: 50px;
	margin-bottom: 75px;
}